.App {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formWrapper {
}

.textbox {
  border: none;
  width: 100%;
}

.submitBtn {
  padding: 10px;
}


